.gitignore# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

dataset/
model/
test_results/
combined_dataset.csv
module_install.txt
pre_code.txt


.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
